body {
  margin: 40px;
  background-color: #00BFFF;
}

h1 {
  font-family: Arial;
  font-size: 50px;
  color: #3D3D3E;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

img {
  width: 100%;
}
